<launch>
	<node name="joint_controller" pkg="kuka_control" type="kuka_control_joint">
		<param name="reflexx" value="false"/>		
		<param name="manual" value="false"/>	
		<param name="semi_auto" value="false"/>	
		<param name="j1" value="-1.3"/>	
		<param name="j2" value="0.0"/>	
		<param name="j3" value="0"/>	
		<param name="j4" value="-1.57"/>	
		<param name="j5" value="0"/>	
		<param name="j6" value="1.57"/>	
		<param name="j7" value="0.0"/>	
		<param name="roll" value="3.1"/>
		<param name="pitch" value="0.0015"/>
		<param name="yaw" value="1.8415"/>
		<param name="x" value=" 0.01"/>
		<param name="y" value="-0.54"/>
		<param name="z" value="0.6143"/>
	</node>
</launch>
